#sidebar {
    background-color: #f9f9f9;
    padding: 15px 20px;
    border-right: 1px solid #ccc;
    height: 100vh;
    overflow-y: auto;
    font-family: 'Arial', sans-serif;
}

.close-icon-style:hover {
    cursor: pointer;
    color: #7f8c8d;
    font-size: 30px;
    margin-bottom: 15px;
}

label.form-label {
    display: block;
    margin-bottom: 10px;
    color: #34495e;
    font-weight: bold;
}

#database-checkboxes {
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 15px;
}

input[type=checkbox] {
    margin-right: 5px;
}

label {
    margin-right: 15px;
    user-select: none;
}

#database-checkboxes::-webkit-scrollbar {
    width: 5px;
}

#database-checkboxes::-webkit-scrollbar-track {
    background: #f4f4f4;
}

#database-checkboxes::-webkit-scrollbar-thumb {
    background: #bdc3c7;
}
