/* 基础布局和字体样式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f9;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 90%;
    width: 630px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #4A90E2;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto 0;
}

h1 {
    text-align: center;
    color: #4A90E2;
}

.form-control,
.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #BDC3C7;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
}

.form-control:focus,
.form-select:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, .2);
}

.form-label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.search-tab {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    border-bottom: 2px solid #0084ff;
}

.search-tab li {
    padding: 10px 20px;
    color: #0084ff;
    cursor: pointer;
    margin-right: 10px;
}

.search-tab li.on {
    border-bottom: 2px solid #0084ff;
}

.mb-3.d-flex {
    display: flex;
    align-items: center;
}

.form-select,
.form-control {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #BDC3C7;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
}

.form-select {
    width: auto;
}

.form-control {
    flex-grow: 1;
}

.search-condition {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-condition label {
    margin-bottom: 0;
}

.search-condition label > span {
    padding: 0 10px;
}

.custom-button {
    background-color: #4A90E2;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.custom-button:hover {
    background-color: #357ABD;
}

.form-check.form-switch {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.form-check-input {
    width: auto;
}

#searchConditions .form-select,
#searchConditions .form-control {
    width: auto;
    flex-grow: 0;
}

#addCondition {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: white;
    margin-top: 0;
}

#addCondition:hover {
    background-color: #4cae4c;
}

@media (max-width: 768px) {
    .search-condition {
        flex-direction: column;
        gap: 0;
    }

    .search-condition label > span {
        display: none;
    }

    #searchConditions .form-select,
    #searchConditions .form-control {
        width: 100%;
        flex-grow: 1;
    }
}

.search-condition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.form-select-and-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-delete-btn {
    background-color: #f44336;
    color: #ffffff;
    padding: 4px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    text-align: center;
}

.custom-delete-btn:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}
