.mt-4 {
    margin-top: 20px;
}

.mb-3 {
    margin-bottom: 15px;
}

.search-condition {
    margin-top: 20px;
    margin-bottom: 15px;
}

#addCondition {
    margin-top: 20px;
}

#addCondition {
    margin-left: 10px;
}

.form-select,
.form-control,
.form-check-input,
.form-check.form-switch {
    margin-right: 10px;
    margin-left: 10px;
}
