body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.search-time {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.total-records {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.book-container {
    background-color: #fff;
    margin: 10px 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #2c3e50;
}

.book-details p {
    margin: 5px 0;
    color: #34495e;
}

.no-results {
    text-align: center;
    color: #666;
    margin: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

li::marker {
    content: none;
}

.page-item a {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
}

.page-item a:hover {
    background-color: #eee;
}

.page-item.active a {
    background-color: #3498db;
    color: #fff;
}

.page-item.disabled a {
    color: #aaa;
    cursor: not-allowed;
}

.button-container {
    margin-left: 20px;
    margin-bottom: 20px;
}

#select-all-btn,
#deselect-all-btn,
#copy-selected-btn {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.home-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}


/* 非商业性质声明样式 */
.non-commercial-notice {
    font-size: 14px;
    color: red;
    text-align: center;
    margin-top: 20px;
}

.jump-container {
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
margin-bottom: 20px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;

}

.jump-container label {
    margin-right: 10px;
    font-weight: bold;
}

.jump-container input {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.jump-container button {
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.jump-container button:hover {
    background-color: #0056b3;
}

.select-all-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.deselect-all-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.copy-selected-btn {
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.copy-link-btn {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.copy-link-btn:hover {
    background-color: #0056b3;
}

