<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EbookDatabase</title>
    <link rel="stylesheet" href="/static/index_styles.css">
</head>
<body>
<div id="settings-icon">
  <object type="image/svg+xml" data="/static/setting_logo.svg" width="30" height="30">
    设置
  </object>
</div>
<div id="platform-icons">
  <a href="https://github.com/Hellohistory/EbookDatabase" target="_blank">
    <img src="/static/github-mark.svg" alt="GitHub" width="30" height="30">
  </a>
  <a href="https://gitee.com/etojsyc/EbookDatabase" target="_blank">
    <img src="/static/gitee-svgrepo-com.svg" alt="Gitee" width="30" height="30">
  </a>
</div>

<div id="container">
    <h1>EbookDatabase</h1>
    <form action="/search/" method="get" class="mt-4">
        <div class="mb-3">
            <label for="query" class="form-label">关键词：</label>
            <input type="text" id="query" name="query" placeholder="请输入关键词" class="form-control" required>
        </div>
        <div class="mb-3">
        <label for="db_names" class="form-label">选择数据库：</label>
        <div id="database-checkboxes">
        </div>
    </div>
    <div class="mb-3">
            <label for="field" class="form-label">搜索方式：</label>
            <select id="field" name="field" class="form-select">
                <option value="title">书名</option>
                <option value="author">作者</option>
                <option value="publisher">出版商</option>
                <option value="isbn">ISBN码</option>
                <option value="sscode">SS码</option>
            </select>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" id="fuzzy" name="fuzzy" value="true" class="form-check-input" checked>
            <label for="fuzzy" class="form-check-label">模糊搜索</label>
        </div>
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
</div>

<script src="/static/index_script.js"></script>
</body>

</html>
