# path: .github/workflows/deploy.yml
name: Deploy

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  publish-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        id: buildx

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/ebookdatabase
          tags: |
            type=branch,pattern=main
            type=ref,event=tag
            type=ref,event=branch
          cache-from: |
            type=registry,ref=ghcr.io/${{ github.repository_owner }}/ebookdatabase:build-cache

          cache-to: |
            type=registry,ref=ghcr.io/${{ github.repository_owner }}/ebookdatabase:build-cache,mode=max

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          # 使用 'meta' 步骤自动生成的标签
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # 启用缓存
          cache-from: ${{ steps.meta.outputs.cache-from }}
          cache-to: ${{ steps.meta.outputs.cache-to }}
        env:
          DOCKER_CLI_EXPERIMENTAL: enabled